@import 'tailwindcss';

.z-force {
  z-index: 50 !important;
}

.search-overlay {
  position: absolute;
  max-width: 512px;
  padding-left: 1rem;
  padding-right: 1rem;
  top: 2rem;
  left: 0;
  background-color: #ffffff;
  height: calc(100svh - 2.5rem);
  width: 100svw;
}

@media (min-width: 512px) {
  .search-overlay {
    left: calc(50vw - 256px);
    height: 65svh;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }
}
