{{ template "base.html" . }}
{{ define "content" }}
  {{ template "search" . }}
  <div>
    <span class="font-bold">{{ .Station.Name }}</span>
    <div class="flex flex-row flex-wrap">
      {{ range sortStopPositions .Station.StopPosition }}
        <button
          class="track-marker border border-white w-8 h-8 font-bold bg-[#1455C0] text-white text-lg text-center"
          _="
              on track[platform=='{{ .Platform }}']
                transition opacity to 1
              end on hide
                transition opacity to 0.2
              end
              on click 
                send hide to .track-marker
            send track(platform: '{{ .Platform }}') to .track-marker
          {{ range splitString .Neighbors ";" }}
            send track(platform: '{{ . }}') to .track-marker
          {{ end }}
              end
            "
        >
          {{ .Platform }}
        </button>
      {{ end }}
    </div>
    <div id="map" class="h-64"></div>
    <ul>
      <span>Number of tracks: {{ .Station.Tracks }}</span>
      <h2 class="font-bold">Tracks that are on the same platform</h2>
      {{ range .Station.Platforms }}
        <li>{{ .Positions }}</li>
      {{ end }}
    </ul>
  </div>

<script>
    var map = L.map('map').setView([{{ .Station.Lat }}, {{ .Station.Lng }}], 16);
    {{ range .Station.StopPosition }}
    L.marker([{{ .Lat }}, {{ .Lng }}], {
          riseOnHover: true,
          icon: L.divIcon({
          iconSize: "auto",
                html: `
          <div _="on track[platform=='{{ .Platform }}']
                    transition opacity to 1
                    then remove .hidden from #track-marker-{{ replaceSpace .Platform }}
                  end on hide
                    transition opacity to 0.2
                    then add .hidden to #track-marker-{{ replaceSpace .Platform }}
                  end" class="track-marker relative">
            <div class="absolute block -left-2 -top-2 h-4 w-4 rounded-full bg-red-500"></div>
            <div id="track-marker-{{ replaceSpace .Platform }}" class="hidden border border-white w-8 h-8 font-bold bg-[#1455C0] text-white text-lg text-center\">{{ .Platform }}</div>
          <div>
          `
        })
      }).addTo(map);
    {{ end }}

  L.tileLayer('/tile/{z}/{x}/{y}.png').addTo(map);
</script>
{{ end }}
