package components

templ Footer() {
	<ul class="flex flex-row gap-4 justify-center">
		<li>
			<a href="/imprint">Imprint</a>
		</li>
		<li>
			<a href="https://updown.io/uhvb">Status</a>
		</li>
		<a href="https://www.freepik.com/free-ai-image/retro-holiday-illustration_360829199.htm#fromView=image_search_similar&page=1&position=10&uuid=04d763cc-b261-4fd2-8035-ab6c68903cfb">Image by freepik</a>
	</ul>
}
