name: Deploy
on:
  push:
    branches:
      - main

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    continue-on-error: true
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"
      - uses: sqlc-dev/setup-sqlc@v4
        with:
          sqlc-version: "1.25.0"
      - run: sqlc generate
      - name: Install Templ
        run: go install github.com/a-h/templ/cmd/templ@latest

      - name: Run templ generate
        run: templ generate
      - run: go test ./...

  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        name: Deploy app
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
      - run: flyctl m update $(flyctl m list | grep importer | awk -F' ' '{print $1}') --image $(flyctl app releases --image -a bahngleise | grep complete | awk 'BEGIN {FS="\t"}; {print $6}' | head -1) -y
        name: Update importer
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
