name: Deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        name: Deploy app
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
      - run: flyctl m update $(flyctl m list | grep importer | awk -F' ' '{print $1}') --image $(flyctl app releases --image -a bahngleise | grep complete | awk 'BEGIN {FS="\t"}; {print $6}' | head -1) -y
        name: Update importer
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
